<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Form</title>
</head>
<body>
  <h1>User Information Form</h1>
  <form action="/postData" method="POST">
    <label>Name:</label><br>
    <input type="text" name="user_name" required><br>

    <label>Age:</label><br>
    <input type="number" name="user_age" required><br>

    <label>City:</label><br>
    <input type="text" name="user_city" required><br>

    <label>Phone:</label><br>
    <input type="tel" name="user_phone" required><br>

    <label>Email:</label><br>
    <input type="email" name="user_email" required><br><br>

    <button type="submit">Submit</button>
  </form>
</body>
</html>
